extends layout

block content
  h1 Welcome to Memories Bot for Telegram
  p Collect memories of your family members using telegram, and create a beautiful looking album at the end
  p Please follow the following steps
  ul
    li 
      a(href="/step/1") Step 1 : Adding the bot and creating an album
    li
      a(href="/step/2") Step 2 : Creating groups and joining the album
    li
      a(href="/step/3") Step 3 : Start answering questions and see the album
