extends layout

block content
  h1 Step 1 : Add bot to your family group
  ul
    li Open your family group
    li Tap on Members
    li Tap on Add Members
    li Add the bot memoriesbotdotcom_bot
    li Make the bot the admin of the group
    li Then type in the group : @memoriesbotdotcom_bot /album
    li Follow the next steps on screen
