extends layout

block content
  h1 Step 3 : Start the Questions!
  ul
    li To start the questions, in the family group type "@memoriesbotdotcom_bot /nextquestion"
    li The members who have joined the album will get the question. They can start answering the questions by typing the answer in the group where they received the question. They can answer by sending one or many messages. They will be collated as a whole in the album. The messages can be only text or photos.
    li To see all the answers to far, in the family group type "@memoriesbotdotcom_bot /view"
