extends layout

block content
  h1 Step 2 : Create groups for each member of the Album
  ul
    li Each person who wants to contribute to the album must create a new telegram group
    li Add @memoriesbotdotcom_bot to the group
    li Make the bot the admin of the group (promote as admin)
    li Forward the message from the Family group from step-1
    li If you're having trouble in the above step - in your family group, type "@memoriesbotdotcom_bot /album"
    li To make sure everyone has joined correctly, in the family group type "@memoriesbotdotcom_bot /ping" - every member of the album should see a pong in their respective personal group
